/* GENERAL */

* {
    font-size: 16px;
}

:root {
    --blue: #0D1831;
    --yellow: #e4c454;
}


body {
    width: 100%;
}

main {
    padding:4em 0 0 0;
    margin: 0em 2em 2em 2em ;
}

section {
    width: 100%;
}

h1 {
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: 3rem;
    padding: 1.5rem 2rem;
    font-family: 'Montserrat', sans-serif;
    grid-column: span 3;
}
h3 {
    font-size: 1.3 rem;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    line-height: 1.5em;
}

p, a{
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: light;
}


/* HEADER SECTION */

header {
    width: 100%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 1.5rem;
    background-color: var(--blue);
    position: fixed;
    z-index: 100;
}

header #nav-title h1 {
    display: inline-block;
    padding: 20px;
    color: white;
}

header #nav-title #logo {
    height: 1.5rem;
    width: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
nav label {
    display: none;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    background: var(--yellow);
    color: #0D1831;
}


/* HOME BANNER */

#home-banner-horizontal {
    width: 100%;
}


/* ABOUT ME */

#about-me {
    border: 1rem solid var(--blue);
    padding: 1rem;
}

.about-grid{
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
}

.content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content p {
    margin: 0 0 20px 20px;
}


.icon-cert{
    width: 20%;
}

#profile-img {
    width: 100%;
    object-fit: cover;
    border-radius: 5rem;  
}


/* PROJECTS */


#my-projects{
    border: 1rem solid var(--yellow);
}

#my-projects figure:hover {
    background: var(--yellow);

}

.projects-img {
    width: 100%;
    padding: 1rem;
}

#project-main {
    margin:0  3em 1.5em 3em;
    border: 0.5px solid black;
    border-radius: 40px;
    box-shadow: 5px 10px #e7e4e4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.alt-title {
    font-size: 2rem;
}

.icon-projects{
    margin:0  3em 1.5em 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
}

.projects {
   
    width: 50%;
    border: 0.5px solid black;
    border-radius: 40px;
    box-shadow: 3px 6px #e7e4e4;
}


.projects-img {
    border-radius: 40px;
}

/* CONTACT ME */

#contact-me h2{
    font-size: 1.5rem;

}

#contact-me {
    display: flex;
    flex-direction: column;
}


#contact-icons a {
    flex-direction: row;
    margin-left: 2rem;
}

.icon {
    width: 5%;
}



/* RESPONSIVE DESIGN */

    /* Up to 975px */
    @media only screen and (max-width: 975px){
       
       
        ham-nav label, #hamburger { 
            display: none; 
        }
        
        #ham-nav input:checked ~ #ham-items { 
            display: block; 
        }
        
        #ham-nav label { 
            display: inline-block; 
            color: white;
            font-style: normal;
            font-size: 2em;
            padding: 10px;
        }
        
        #ham-items { 
            display: none; 
        }
        
        #ham-items a {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border-top: 1px solid white;
            padding: .75rem;
            color: white;
        }
        
        #ham-items a:hover {
             background: var(--yellow);
            color: var(--blue) 
        }
    
       
       
       
        #home-banner-horizontal {
            display: none;
        }
    
        #home {
            background-image: url(../images/Banner-Hero-Intro-Vertical.png);
            background-position: center center;
            background-position: fixed;
            background-size: cover;
            width: 100%;
            height: 90vh;
        }


        #about-me {
            display: flex;
            flex-direction: column;
        }

    
        #about-me p{
            width: 100%;
        }

        #profile-img {
            order:-1;
        }


        .icon-cert {
            width:15%;
            
        }
        
        #project-main {
            display: block;
        }

        .icon-projects {
            flex-wrap: wrap;
        }


    }

    /* Up to 750px */

    @media only screen and (max-width: 750px){

        #home-banner-horizontal {
            display: none;
        }

        #home {
            background-image: url(../images/Banner-Hero-Intro-Vertical.png);
            background-position: center center;
            background-position: fixed;
            background-size: cover;
            width: 100%;
            height: 90vh;
        }

        .alt-title {
            font-size: 1rem;
        }

        .projects {
            width: 100%;
        }


    }
    /* Up to 450px */

    @media only screen and (max-width: 450px) {
        .alt-title {
            display: none;
        }

     
    }