/* GENERAL */

* {
    font-size: 16px;
}

:root {
    --blue: #0D1831;
    --yellow: #e4c454;
}


body {
    width: 100%;
}

main {
    padding:4em 0 0 0;
    margin: 0em 2em 2em 2em ;
}

section {
    width: 100%;
}

h1 {
    font-family: 'Great Vibes', cursive;
}

h2, h3 {
    font-size: 3rem;
    padding: 1.5rem 0;
    font-family: 'Montserrat', sans-serif;
}

p, a {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: light;
}



/* HEADER SECTION */

header {
    width: 100%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 1.5rem;
    background-color: var(--blue);
    position: fixed;
    z-index: 100;
}

header #nav-title h1 {
    display: inline-block;
    padding: 20px;
    color: white;
}

header #nav-title #logo {
    height: 1.5rem;
    width: auto;
}

#ham-nav label, #hamburger { 
    display: none; 
}

#ham-nav input:checked ~ #ham-items { 
    display: block; 
}

#ham-nav label { 
    display: inline-block; 
    color: white;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
}

#ham-items { 
    display: none; 
}

#ham-items a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid white;
    padding: .75rem;
    color: white;
}

#ham-items a:hover {
     background: var(--yellow);
    color: var(--blue) 
}


/* HOME BANNER */

#home-banner-horizontal {
    width: 100%;
}


/* ABOUT ME */

#about-me {
    border: 1rem solid var(--blue);
    padding: 1rem;
}

#content-grid{
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;

}


.icon-cert{
    width: 10%;
}

#profile-img {
    width: 100%;
    object-fit: cover;
    border-radius: 5rem;
    
}



/* PROJECTS */

#my-projects{
    border: 1rem solid var(--yellow);
    padding: 1rem;
}

.projects-img {
    width: 100%;
}

#project-main, .projects {
    position: relative;
}

#project-main figcaption, .projects figcaption {
    position: absolute;
    display: block;
    background-color: var(--yellow);
    color: #0D1831;
    font-size: 1em;
    bottom: 0;
    right: 0;
    width: fit-content;
    height:fit-content;
    text-align: center;
}

#icon-projects{
    display: flex;
    direction: row;
    gap: 1rem;

}



/* CONTACT ME */


.icon {
    width:5%;
    height:auto;
}



/* RESPONSIVE DESIGN */

    /* TABLET AND UP */
    @media only screen and (max-width: 945px){
        #home-banner-horizontal {
            display: none;
        }
    
        #home {
            background-image: url(../images/Banner-Hero-Intro-Vertical.png);
            background-position: center center;
            background-position: fixed;
            background-size: cover;
            width: 100%;
            height: 90vh;
        }


        #about-me {
            display: block;
        }
    
        #profile-img {
            width: 100%;
        }
        
        
        .icon-cert {
            width: 25%;
            height: auto;
            padding: 1rem;
        }
    
        #about-me p{
            width: 100%;
        }
    }

    /* PHONE RESPONSIVE*/
    @media only screen and (max-width: 750px){

        #home-banner-horizontal {
            display: none;
        }

        #home {
            background-image: url(../images/Banner-Hero-Intro-Vertical.png);
            background-position: center center;
            background-position: fixed;
            background-size: cover;
            width: 100%;
            height: 90vh;
        }

